# Sample DATABASE URL for Windows until PostgreSQL 12 finally receive official support for Windows 10
DATABASE_URL=sqlite:///everycheese.db
# Sample DATABASE_URL for Linux and Mac
#DATABASE_URL=postgres://myuser:mypasswd@localhost:5432/everycheese
